.template_details {
  position: relative;
  padding: calc(var(--gap) * 4) 0;
  height: 100%;

  div, img {
    flex-shrink: 0;
  }
}

.title_skeleton, .subtitle_skeleton,
.info_skeleton, .block_skeleton, .head_image_skeleton {
  width: 100%;
  max-width: var(--template-max-width);
  border-radius: var(--radius);
}

.subtitle_skeleton,
.info_skeleton {
  height: 30px;
}

.title_skeleton {
  height: 40px;
  margin-top: calc((var(--gap) * 5));
  margin-bottom: calc((var(--gap) * 2));
}

.subtitle_skeleton {
  margin-bottom: calc((var(--gap) * 2));
}

.info_skeleton {
  margin-bottom: calc((var(--gap) * 3));
}

.block_skeleton {
  margin-bottom: calc((var(--gap) * 2));
  height: 200px;
}

.info, .title, .subtitle {
  width: 100%;
}

.block_margin {
  margin-bottom: calc((var(--gap) * 4));
}

.info_icon {
  font-size: calc(var(--font-size) * 1.5);
}

.info_text {
  margin-left: var(--gap);
  margin-right: calc(var(--gap) * 2);
}

.head_image {
  .image {
    height: 100%;
    border-radius: var(--radius);
  }
}

.head_image_skeleton {
  height: 300px;
}

.open_button {
  margin-left: calc(var(--gap) * 6);
}

.hover_title {
  display: flex;
}