.icon {
  margin-right: calc(var(--gap) * 3);
  font-size: calc(var(--font-size) * 1.5);
  color: var(--color-text2);
}

.item {
  cursor: pointer;
  padding-left: calc(var(--gap) * 3);
  border-radius: var(--radius);
  transition: background-color var(--animation-duration);
  height: 40px;
  width: 100%;

  &:hover {
    background-color: var(--color-item-hover);
  }

  &:hover .text {
    color: var(--color-primary);
  }

  &:active {
    background-color: var(--color-item-hover1);
  }
}