.text_widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 20px 30px;
}

.text_line {
  width: 100%;
  height: 3px;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 7px;
}

.text_line.short {
  width: 50%;
}

.text_line_container {
  padding-left: 15px;
  height: 3px;
  position: relative;
  display: flex;
  margin-bottom: 6px;

  .text_line {
    margin-bottom: 0;
  }
}

.text_letter {
  position: absolute;
  top: -14px;
  font-size: 1.1rem;
  left: 1px;
}