:root {
  // Main
  --color-main: #F4F6FB;
  --color-main-invert: #282c34;
  --color-accent: #F4F6FB;
  --color-primary: #4ca31a;
  --color-secondary: #3067dd;
  --color-danger: #cc5a2d;
  
  // Texts
  --color-text-invert: #F4F6FB;
  --color-text: #202127;
  --color-text1: #444;
  --color-text2: #3b3b3b;
  --color-text3: #d1d1d1;
  --color-text4: #d1d1d1;
  
  // Shadows
  --color-shadow04: rgb(56 53 58 / 40%);
  --color-shadow03: rgb(56 53 58 / 30%);
  --color-shadow10: #d8d8e2;
  --color-backdrop: rgba(0 0 0 / 20%);
  --color-shadow-modal: #1f2124;
  
  // Loader
  --color-loader: rgb(49 49 49);
  --color-loader1: rgba(35 35 35 / 30%);
  
  // Disable
  --color-disable: #383a3f;
  
  // Items hover
  --color-item-hover: #e0e0e08c;
  --color-item-hover1: #cacaca8c;
  
  // Borders
  --color-border: #b3b3b3;
  --color-border3: #bdbcbc;
  --color-border4: #cacaca;
  --color-border5: #e5e5e6;
  
  // Scroll
  --color-scroll-track: #eee;
  --color-scroll-thumb: #e7e7e7;
  --color-scroll-thumb-border: #d4d4d4;

  // Skeleton
  --color-skeleton: rgba(95 104 111 / 10%);
  --color-skeleton-background: rgba(0 0 0 / 10%);
  --color-skeleton-shadow: rgba(0 0 0 / 30%);

  // Card
  --color-card: rgba(0 0 0 / 10%);

  // Code
  --color-code-background: rgba(0 0 0 / 10%);

  // Globals
  --color-red: rgb(202 42 42);
  --color-red1:rgba(255 130 130 / 10%);

  // Sizes
  --sheets-header-height: 60px;
  --sheets-toolbar-height: 65px;
  --sheets-formula-height: 35px;
  --sheets-footer-height: 45px;
  --cell-height: 25px;
  --cell-width: 140px;
  --cell-row-width: 40px;
  --cell-col-height: 30px;
  --gap: 5px;
  --radius: 5px;
  --font-size: 1rem;
  --animation-duration: 0.1s;
  --template-max-width: 1200px;
}
