:root {
  --sheets-header-height: 60px;
  --sheets-toolbar-height: 65px;
  --sheets-formula-height: 35px;
  --sheets-footer-height: 45px;

  --cell-height: 25px;
  --cell-width: 140px;
  --cell-row-width: 40px;
  --cell-col-height: 30px;

  --gap: 5px;
  --radius: 5px;
  --font-size: 1rem;
  --animation-duration: 0.1s;
}