.select {
  height: 100%;
}

.menu {
  width: 100%;
}

.select_menu {
  overflow: hidden;
  background-color: var(--color-dropdown-background);
  z-index: 22;
  border-top: 1px solid var(--color-shadow02);
  box-shadow: 0 2px 5px 0 var(--color-shadow04);
  border: 1px solid var(--color-border5);
  border-radius: var(--radius);
}