.mac_process {
  position: relative;
  height: 10px;
  width: 10px;
  cursor: pointer;

  &:hover .mac_process_circle._v1 {
    top: -85px;
    left: -5px;
  }

  &:hover .mac_process_circle._v2 {
    top: -78px;
    left: 5px;
  }

  &:hover .mac_process_circle._v3 {
    top: -70px;
    left: 15px;
    box-shadow: 7px 7px 1px 0 var(--color-shadow02);
  }

  &:active .mac_process_circle._v1 {
    top: -80px;
    left: 5px;
  }

  &:active .mac_process_circle._v2 {
    top: -74px;
    left: 10px;
  }

  &:active .mac_process_circle._v3 {
    top: -70px;
    left: 15px;
    box-shadow: 7px 7px 1px 0 var(--color-shadow02);
  }
}

.mac_process_circle {
  transition: all 0.5s;
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--color-primary05);
}

.mac_process_cog {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  position: absolute;
  top: -15px;
  left: -20px;

  svg {
    font-size: 5rem;
  }
}

.mac_process_cog_shadow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--color-shadow02);

  svg {
    font-size: 5rem;
  }
}

._v1 {
  z-index: 10;
  border: 1px solid var(--color-shadow01);
  background-color: var(--color-primary);
  top: -90px;
  left: -10px;
}

._v2 {
  z-index: 9;
  top: -80px;
  left: 5px;
}

._v3 {
  z-index: 8;
  top: -70px;
  left: 20px;
  box-shadow: 25px 15px 1px 0 var(--color-shadow01);
}
