@import 'app/styles/mixins/global';

.notification_list {
  width: 300px;
  padding: calc(var(--gap) * 2);
  max-height: 290px;
  overflow: auto;

  @include scroll(8px);
}

.item_skeleton {
  width: 100%;
  height: 60px;
  border-radius: var(--radius);
  margin-bottom: calc(var(--gap) * 2);
}

.item_skeleton:last-child {
  margin-bottom: 0;
}