.template_details_page {
  padding-bottom: calc((var(--gap) * 10));
}

.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: calc(var(--gap) * 2);
}

.comments_width {
  max-width: var(--template-max-width);
  width: 100%;
}

.comments_title {
  margin-bottom: calc(var(--gap) * 4);
}