.template_details_page {
  padding-bottom: calc((var(--gap) * 10));
}

.comments, .add_comment_form, .recommends {
  padding-top: calc(var(--gap) * 2);
}

.add_comment_form, .recommends {
  margin-bottom: calc(var(--gap) * 2);
}

.comments_title, .dd_comment_form_title {
  margin-bottom: calc(var(--gap) * 4);
}