@import 'app/styles/mixins/global';

.select {
  position: relative;

  .select_menu {
    top: 40px;
    z-index: 200;
    width: 100%;
    position: absolute;
    overflow: hidden;
    background-color: var(--color-dropdown-background);
    margin-top: var(--gap);
    border-radius: var(--radius);
    border: 1px solid var(--color-border);
  }
}