.auth_modal {
  width: 340px;

  .links {
    width: 100%;
    height: 40px;
  }

  .link {
    border-bottom: 1px solid var(--color-border);
    padding: 1px 2px;

    &:hover {
      border-color: var(--color-primary);
    }
  }

  .fallback {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}