.code {
  padding: calc(var(--gap) * 4);
  position: relative;
  overflow: auto;
  border-radius: var(--radius);
  border: 1px solid var(--color-border);
  background-color: var(--color-code-background);

  pre {
    code {
      line-height: 22px;
      font-size: calc(var(--font-size) * 1.1);
    }
  }
}

.copy_button_container {
  position: absolute;
  top: var(--gap);
  right: var(--gap);
}

.copy_button {
  width: 40px;
  height: 40px;
}