.cell_all {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--cell-col-height);
  width: var(--cell-row-width);
  border: 1px solid var(--color-border);
}