.item {
  transition: all var(--animation-duration) ;
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: calc(var(--gap) * 4);
  font-size: var(--font-size);

  &:hover {
    background-color: var(--color-item-hover);
    color: var(--color-primary);
  }
}

.item.icon {
  font-size: var(--font-size);
}

.icon_container {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: calc(var(--gap) * 2);
}

.icon {
  color: var(--color-text2);
  font-size: calc(var(--font-size) * 1.3);
}