.drag_line {
  position: relative;
  padding: 0 10px;
  min-width: 300px;
  overflow: hidden;
  cursor: grab;
}

.track {
  display: flex;
}

.left, .right {
  width: 12px;
  height: 100%;
  position: absolute;
  top: 0;
}

.left {
  left: 0;
  background: linear-gradient(90deg, var(--color-main) 50%, rgba(0 0 0 / 0%) 100%);
}

.right {
  right: 0;
  background: linear-gradient(90deg, rgba(0 0 0 / 0%) 50%, var(--color-main) 100%);
}