.user {
  position: relative;
}

.dropdown {
  width: 220px;
  right: 0;
}

.avatar {
  cursor: pointer;

  &:hover {
    outline: 2px solid var(--color-primary);
  }

  &:active {
    transform: scale(1.05);
  }
}