.input {
  position: relative;
  height: 40px;
  min-width: 260px;
}

.input_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: text;
  position: absolute;
  height: 40px;
  padding-left: 15px;
  color: var(--color-text);

  svg {
    font-size: calc(var(--font-size) * 1.2);
  }
}

.input_textfild {
  transition: all var(--animation-duration);
  padding-left: 15px;
  height: 100%;
  width: 100%;
  border-radius: var(--radius);
  border: 1px solid var(--color-item-border);

  &:focus {
      outline: 1px solid var(--color-primary);
      border: 1px solid var(--color-primary);
  }
}

.input_textfild.icon {
  padding-left: 45px;
}

.input_placeholder.icon {
  top: 11px;
  left: 40px;
}

.input_placeholder, .input_valid_error {
  font-size: calc(var(--font-size) * 0.9);
  padding: 0 5px;
  position: absolute;
  background-color: var(--color-background);
}

.input_valid_error {
  z-index: 100;
  margin-top: 2px;
  color: var(--color-red);
}

.input_placeholder {
  border-radius: 10px;
  top: 11px;
  left: 12px;
  color: var(--color-text);
}

.input:hover .input_textfild {
  outline: 1px solid var(--color-primary);
  border: 1px solid var(--color-primary);
}

.input.error .input_textfild {
  outline: 1px solid var(--color-red);
  border: 1px solid var(--color-red);
}