.rating {
  padding-bottom: calc(var(--gap) * 4);
}

.title {
  padding-bottom: calc(var(--gap) * 2);
}

.buttons_container {
  padding-top: calc(var(--gap) * 3);
  width: 100%;
}

.feedback_title {
  padding-bottom: calc(var(--gap) * 4);
}