.drag_line_item {
  transition: all var(--animation-duration);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-color: var(--color-card);
  border-radius: 5px;

  &:hover {
    background-color: var(--color-item-hover1);
  }

  &:active {
    background-color: var(--color-item-hover2);
  }
}