.placeholder {
  border-radius: 10px;
  top: 11px;
  left: 12px;
  color: var(--color-text);
  font-size: calc(var(--font-size) * 0.9);
  padding: 0 5px;
  position: absolute;
  background-color: var(--color-main);
}

.placeholder.icon {
  top: 11px;
  left: 40px;
}