.template_image_block {
  max-width: var(--template-max-width);
  width: 100%;
}

.image {
  max-width: 100%;
  min-height: 200px;
  border-radius: var(--radius);
}

.title_row {
  margin-top: calc((var(--gap) * 2));
}