.in_developing.animation {
  --color-shadow: black;
  --color-shadow02: rgba(0 0 0 / 20%);
  --color-shadow01: rgba(0 0 0 / 10%);
  --color-secondary: orange;
  --color-yellow: gold;
  --color-blue: steelblue;
  --color-green: lightgreen;
  --color-primary: #3067dd;
  --color-primary09: rgb(49 104 221 / 90%);
  --color-primary08: rgb(49 104 221 / 80%);
  --color-primary07: rgb(49 104 221 / 70%);
  --color-primary06: rgb(49 104 221 / 60%);
  --color-primary05: rgb(49 104 221 / 50%);
  --color-primary04: rgb(49 104 221 / 40%);
  --color-primary03: rgb(49 104 221 / 30%);
  --color-primary02: rgb(49 104 221 / 20%);
  --color-primary01: rgb(49 104 221 / 10%);
  --color-text: white;
}

.in_developing.animation.light {
  --color-text2: #d6e3ff;
}

.in_developing.animation.dark {
  --color-text2: white;
}