.app.dark {
  --color-background: #282c34;
  --color-background-invert: #fff;
  --color-item-background: #202127;
  --color-primary: #3067dd;
  --color-secondary: #3067dd;
  --color-text-invert: #1e1f22;
  --color-text: #d3d3d3;
  --color-text2: #b9b8b8;
  --color-text3: #a3a3a3;
  --color-text4: #727272;
  --color-backdrop: rgba(83 79 85 / 50%);
  --color-shadow04: rgb(97 92 102 / 40%);
  --color-shadow03: rgb(97 92 102 / 30%);
  --color-shadow10: #161616;
  --color-loader1: #fff;
  --color-loader2: rgba(255 255 255 / 60%);
  --color-white: #fff;
  --color-item-border: rgba(127 120 133);
}