.app.light {
  --color-background: #fff;
  --color-background-invert: rgb(35 35 35);
  --color-item-background: #fff;
  --color-primary: #4ca31a;
  --color-secondary: #4ca31a;
  --color-text-invert: #fff;
  --color-text: #242424;
  --color-text2: #444;
  --color-text3: #a7a7a7;
  --color-text4: #d1d1d1;
  --color-backdrop: rgba(44 44 46 / 50%);
  --color-shadow04: rgb(56 53 58 / 40%);
  --color-shadow03: rgb(56 53 58 / 30%);
  --color-shadow02: rgb(56 53 58 / 10%);
  --color-shadow10: #d8d8e2;
  --color-loader1: rgb(49 49 49);
  --color-loader2: rgba(35 35 35 / 30%);
  --color-white: #fff;
  --color-item-border: rgb(202 202 202);
}

:root {
  --color-background: #fff;
  --color-background-invert: rgb(35 35 35);
  --color-item-background: #fff;
  --color-primary: #4ca31a;
  --color-secondary: #4ca31a;
  --color-text-invert: #fff;
  --color-text: #242424;
  --color-text2: #444;
  --color-text3: #a7a7a7;
  --color-text4: #d1d1d1;
  --color-backdrop: rgba(44 44 46 / 50%);
  --color-shadow04: rgb(56 53 58 / 40%);
  --color-shadow03: rgb(56 53 58 / 30%);
  --color-shadow02: rgb(56 53 58 / 10%);
  --color-shadow10: #d8d8e2;
  --color-loader1: rgb(49 49 49);
  --color-loader2: rgba(35 35 35 / 30%);
  --color-white: #fff;
  --color-item-border: rgb(202, 202, 202);
}
