.platform {
  width: 500px;
  height: 60vh;
  background-color: var(--color-white);
  border-radius: 25px 25px 0 0;
  // transform: rotateX(55deg) rotateY(-3deg) rotateZ(49deg);
  transform: rotateX(45deg) rotateY(-10deg) rotateZ(45deg);
}