.comment_list_item {
  padding: calc(var(--gap) * 4);
  border: 1px solid var(--color-border);
  border-radius: var(--radius);
}

.header {
  transition: color var(--animation-duration);
  display: flex;
  align-items: center;

  &:hover div {
    color: var(--color-primary);
  }
}

.main {
  margin-top: calc(var(--gap) * 2);
}

.username {
  margin-left: calc(var(--gap) * 2);
}