.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--sheets-header-height);
  background-color: var(--color-main);
  padding: 0 calc(var(--gap) * 4);
  border-bottom: 1px solid var(--color-border3);
}
