.controllable_menu_item {
  position: relative;
  cursor: pointer;
  height: 35px;
  display: flex;
  color: var(--color-text);
  align-items: center;
  transition: all var(--animation-duration);
  padding-left: calc(var(--gap) * 3);
  width: 100%;
}

.controllable_menu_item.left {
  .menu {
    left: -220px;
  }
}

.controllable_menu_item.right {
  flex-direction: row-reverse;
  padding-left: 0;
  padding-right: calc(var(--gap) * 3);

  .menu {
    right: -220px;
  }

  .icon_container {
    flex-direction: row-reverse;
  }
}

.controllable_menu_item.center {
  padding: 0;
  justify-content: center;
  align-items: center;
}

.menu {
  z-index: 100;
  position: absolute;
  color: var(--color-white);
  width: 220px;
  top: -10px;
  box-shadow: 0 2px 5px 0 var(--color-shadow04);
  border: 1px solid var(--color-border5);
  padding: calc(var(--gap) * 2) 0;
  background-color: var(--color-dropdown-background);
  border-top: 1px solid var(--color-shadow02);
  border-radius: var(--radius);
}

.controllable_menu_item.active {
  background-color: var(--color-item-hover);
  color: var(--color-primary);
}

.controllable_menu_item.active:active {
  background-color: var(--color-item-hover1);
  color: var(--color-primary);
}

.icon_container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 34px;
}

.icon {
  flex-shrink: 0;
  color: var(--color-text2);
  font-size: calc(var(--font-size) * 1.3);
}