.controllable_menu_item {
  cursor: pointer;
  height: 35px;
  display: flex;
  align-items: center;
  transition: all var(--animation-duration);
  padding-left: calc(var(--gap) * 3);
  width: 100%;
}

// .controllable_menu_item:hover {
//   background-color: var(--color-item-hover);
//   color: var(--color-primary);
// }

// .controllable_menu_item:active {
//   background-color: var(--color-item-hover1);
//   color: var(--color-primary);
// }

.controllable_menu_item.active {
  background-color: var(--color-item-hover);
  color: var(--color-primary);
}

.controllable_menu_item.active:active {
  background-color: var(--color-item-hover1);
    color: var(--color-primary);
}

.icon_container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 34px;
}

.icon {
  flex-shrink: 0;
  color: var(--color-text2);
  font-size: calc(var(--font-size) * 1.3);
}