.profile_card {
  padding-top: calc(var(--gap) * 2);
  max-height: 600px;
  min-height: 350px;
}

.title_container {
  height: 60px;
  padding-top: calc(var(--gap) * 2);
  padding-bottom: calc(var(--gap) * 4);
}

.title {
  width: 90px;
}

.avatar_container {
  padding-bottom: calc(var(--gap) * 2);
}

.avatar {
  height: 100px;
  width: 100px;
}