.font_size {
  height: 100%;
  display: inline-flex;
}

.numbers {
  height: 100%;
  width: 40px;
  background-color: var(--color-dropdown-background);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}