.login_form {
  width: 100%;
  
  
  .button {
    width: 100%;
    margin-bottom: calc(var(--gap) * 2);
  }

  .login_error {
    border-radius: var(--radius);
    width: 100%;
    height: 40px;
    background-color: var(--color-red1);
  }

  .input {
    width: 100%;
  }
}