.register_form {
  width: 100%;

  .h1 {
    font-size: calc(var(--font-size) * 1.8);
    padding-bottom: calc(var(--gap) * 6);
  }
  
  .margin_bottom {
    margin-bottom: calc(var(--gap) * 6);
  }
  
  .button {
    width: 100%;
    margin-top: calc(var(--gap) * 6);
    margin-bottom: calc(var(--gap) * 2);
  }
}