@mixin scroll($width: 8px) {
  &::-webkit-scrollbar {
    width: $width;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--color-background);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-text2);
    border: 1px solid var(--color-item-background);
    border-radius: var(--radius);
  }
}