@mixin scroll($width: 8px) {
  &::-webkit-scrollbar {
    width: $width;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--color-scroll-track);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-scroll-thumb);
    border: 1px solid var(--color-scroll-thumb-border);
    border-radius: var(--radius);
  }
}