.menu {
  display: flex;
  align-items: center;
}

.links {
  border-top: 1px solid var(--color-border3);
  border-bottom: 1px solid var(--color-border3);
  padding: calc(var(--gap) * 3);
}

.button {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  svg {
    font-size: calc(var(--font-size) * 1.5);
  }
}

.logo {
  padding-left: calc(var(--gap) * 12);
  height: var(--sheets-header-height);
  display: flex;
  align-items: center;
}