.templates_page_filters {
  padding: var(--gap) 0;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: var(--color-main);
}

.width {
  width: 100%;
  display: flex;
  align-items: center;
  max-width: var(--template-max-width);
  border-bottom: 1px solid var(--color-border3);
}

.title {
  width: 100%;
}

.search, .sort, .sortOrder {
  margin-right: calc(var(--gap) * 2);
}

.sort,
.sortOrder {
  flex-shrink: 0;
}

.search_input {
  // width: 300px;
}

.sort_input, .sortOrder_input {
  min-width: 200px;
  width: 200px;
}