.templates_page_filters {
  padding: var(--gap) 0;
  z-index: 10;
  width: 100%;
  background-color: var(--color-main);
}

.width {
  display: flex;
  align-items: center;
}

.title {
  width: 100%;
}

.search, .sort, .sortOrder {
  margin-right: calc(var(--gap) * 2);
}

.sort,
.sortOrder {
  flex-shrink: 0;
}

.sort_input, .sortOrder_input {
  min-width: 200px;
  width: 200px;
}

.drag_line {
  width: 100%;
  max-width: var(--template-max-width);
}