.template_list_item {
  cursor: pointer;
  transition: transform var(--animation-duration);

  .image {
    width: 100%;
    height: 140px;
    object-position: top;
    border-radius: var(--radius);
    object-fit: cover;
  }

  .info, .buttons {
    margin-top: calc(var(--gap) * 2);
  }

  .text_title {
    margin-top: var(--gap);
    margin-bottom: calc(var(--gap) * 2);
  }

  .icon {
    font-size: calc(var(--font-size) * 1.3);
    margin-right: var(--gap);
  }

  .info_text {
    margin-right: var(--gap);
  }
}

.template_list_item.squares {
  .card {
    width: 380px;
  }

  .tags p {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 130px;
    overflow: hidden;
  }

  .text_title p, .text_subtitle p {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 340px;
    overflow: hidden;
  }

  .hover_title {
    max-width: 340px;
  }
}

.template_list_item.lines {
  width: 100%;

  .image {
    width: 100%;
    height: 250px;
    object-position: top;
    border-radius: var(--radius);
    object-fit: cover;
  }

  .tags p {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
    overflow: hidden;
  }

  .card {
    width: 100%;
  }

  .hover_title {
    max-width: 500px;
  }
}