.gallery_widget {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 30px;

  &:hover .image {
    box-shadow: 7px 7px 1px 0 var(--color-shadow02);
  }

  &:hover .image._v1 {
    transform: rotate(-15deg);
    top: 30px;
    left: 20px;
  }

  &:hover .image._v2 {
    top: 30px;
    left: 40px;
    transform: rotate(0deg) translateX(10px) translateY(-10px);
  }

  &:hover .image._v3 {
    top: 40px;
    left: 50px;
    transform: rotate(15deg) translateX(35px) translateY(-25px);
  }

  &:active .image._v1 {
    transform: rotate(-15deg);
    top: 30px;
    left: 20px;
  }

  &:active .image._v2 {
    top: 30px;
    left: 40px;
    transform: rotate(0deg) translateX(5px) translateY(-5px);
  }

  &:active .image._v3 {
    top: 40px;
    left: 50px;
    transform: rotate(15deg) translateX(15px) translateY(-15px);
  }
}

.image {
  transition: all 0.5s;
  overflow: hidden;
  top: 20px;
  left: 30px;
  position: absolute;
  z-index: 0;
  width: 120px;
  height: 100px;
  background: linear-gradient(180deg, var(--color-green) 20%, var(--color-blue) 60%);
}

.image._v1 {
  z-index: 1;
  top: 30px;
  left: 40px;
  transform: rotate(15deg);
}

.image._v2 {
  z-index: 2;
  top: 40px;
  left: 50px;
  transform: rotate(30deg);
}

.image._v3 {
  z-index: 3;
  top: 50px;
  left: 60px;
  transform: rotate(45deg);
}

.mountain {
  bottom: 0;
  left: 0;
  transform: rotate(45deg);
  position: absolute;
  width: 100px;
  height: 100px;
  background: linear-gradient(140deg,
        var(--color-white),
        var(--color-primary) 40%);
}

.mountain._v1 {
  bottom: -50px;
  left: 0;
}

.mountain._v2 {
  bottom: -50px;
  left: 50px;
}